$main-color:#15acff;

.grid-container{
    display:grid;
    background-color:azure;
    grid-template-columns: auto auto;
    padding: 20px 0
}

.settings{
    width:40vw;
}

.cursor-square{
    display:flex;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin:2px;
    background-color: $main-color;
}


.square{
    width: 150px;
    height: 150px;
    background-color: $main-color;
}

.output{
    padding:100px;
    display: flex;
    justify-content: center;
}

.flex-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}